<% if logged_in? %>
    <script id="bootstrap-current-user" type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
    </script>
<% end %>

<script type="text/javascript">
    // window.greeting_hero_image = "<%= image_path('greeting_hero_image.jpg') %>";
</script>

<main id="root"></main>