.footer-container{
    display: flex;
    justify-content: space-evenly;

    padding: 120px 0vh;
    color: $light;
    background: black;

    font-style: italic;

    h4 {
        margin-bottom: 12px;
        font-weight: 600;
    }

    li{
        margin-bottom: 10px;
        color: $main-color;

        a:hover {
            text-decoration: underline;
        }
    }

    .logo-container{
        display: flex;
        align-items: center;
    }
    .logo{
        // color: #0D96D8;
        font-size: 25px;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 7px;
        font-style: normal;
        i {
            margin-right: 12px;
            font-size: 19px;
        }
    }

    @media (max-width: 760px) {
        flex-direction: column;
        text-align: center;

        .logo-container{
            justify-content: center;
        }

        & > * {
            padding-bottom: 25px;
        }
    }
}