.home-screen-container{

    p{
        line-height: 25px;
    }
    
    h3{
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 5px;
    }

    .inner {
        display: flex;
        flex-direction: column;
        padding: 55px;

        & > * {
            margin-bottom: 16px;
        }

        h1{
            margin-bottom: 25px;
        }
    }

    .weird_line{
        border-bottom: 5px solid $light;
        width: 100px;
        margin: 0;

        &:last-of-type {
            width: 200px;
            margin-bottom: 57px;
        }
    }

    .svg-container{
        position: relative;
    }

    .top-svg{
        z-index: 999;
        fill: white;
        position: absolute;
        width: 100%;
        height: 110px;
        left: 0;
        transform: translate(0%,-50%);
    }

}

// This is the box at the top of the homepage, only appears when the user ins't loged in.
.greeting-section{
    position: relative;
    text-align: right;
    background-position: bottom;
    background-size: cover;
    color: $dark;
    max-width: 100%;

    .inner {
        padding-top: 100px;
        padding-bottom: 150px;
        align-items: flex-end;
        width: -webkit-fill-available;
    }

    .inline{
        margin-left: 15px;
    }

    .btn-highlighted{
        color: $light;
        background-color: $dark;

        &:hover{
            background: lighten($dark, 10%);
        }
    }
    
    .weird_line{
        border-color: $dark;
    }

}

#hero-svg{
    position: absolute;
    top: 31%;
    left: -219px;
    width: 133%;
    z-index: 9999;
    pointer-events: none;
}

.create-route-section{
    background: url(asset-path("route_hero_image.jpg"));
    background-position: center;
    background-size: cover;
    color: $light;
    max-width: 100%;

    .inner {
        align-items: flex-start;
        background: transparentize($dark, 0.1);
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

.find-route-section{
    background: url(asset-path("find_route_hero_image.jpg"));
    background-position: center;
    background-size: cover;
    color: $dark;
    max-width: 100%;
    text-align: right;

    margin-bottom: 45px;

    .inner {
        align-items: flex-end;
        background: transparentize($light-secondary, 0.05);
        padding-top: 150px;
        padding-bottom: 150px;
    }
    
    .weird_line{
        border-color: $dark;
    }
}