html, body, main {
    height: 100%;
    width: 100%;
}

main{
    color: $dark;
    background: $light;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

input {
    width: -webkit-fill-available;
    padding: 12px 16px 12px;
    border: solid $dark-secondary 1px;

    &:focus{
        outline-color: $main-color;
        background: $light;
    }
}

h1 {
    font-size: 24px;
    letter-spacing: 8px;
}

hr {
    width: 100%;
}

.container {
    max-width: 980px;
    margin:auto;
}

.inline {
    display: inline-block !important;
}

.wide{
    width: -webkit-fill-available;
}

.half{
    width: 50%;
}

.btn{
    display: block;
    padding: 10px 16px;
    border-radius: 4px;
    background: none;
    border: none;
    font-family: inherit;
    text-align: center;
}

.btn-main{
    background-color: $main-color;
    color: $light;
}

.btn-highlighted {
    background-color: $highlighted-color;
    color: $light;
}

.btn-outline {
    border: solid $light 1px;
    color: $light;
}

.btn-outline-dark {
    border: solid $dark 1px;
    color: $dark;
}

.errors-list{
    li {
        background: $error;
        color: white;
        padding: 16px;
        margin: 12px;
        border-radius: 3px;
    }
}