nav {
    display: flex;
    justify-content: space-between; // Spaces horizontally
    align-items: center; // Centers vertically
    // justify-content: space-around; // Spaced and centered
    // background: $dark;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;

    .logo{
        color: $main-color;
        font-size: 25px;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 7px;
    }

    a{
        color: $dark;
    }

    #nav-logo{
        display: flex;
        align-items: center;
        i{
            margin-right: 12px;
            font-size: 19px;
        }
    }
    .left{
        display: flex;
        align-items: center; // Centers vertically
        justify-content: flex-start;
    }

    // Center links
    .center{
        display: flex;
        justify-content: center;
        align-items: center; // Centers vertically
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 16px;

        a{
            height: $navbar-height;
            line-height: $navbar-height;
            text-align: center;
            padding: 0px 20px 0px 20px;
        }

        .selected{
            background: $light-secondary;
        }
    }

    .right{
        display: flex;
        align-items: center; // Centers vertically
        justify-content: flex-end;
        
        .header-name{
            margin-right: 20px;
        }
        
        .header-name{
            display: flex;
            align-items: center;
            i{
                margin-right: 5px;
            }
        }
    }

}