nav {

    display: flex;
    justify-content: space-between; // Spaces horizontally
    align-items: center; // Centers vertically
    // justify-content: space-around; // Spaced and centered
    // background: $dark;
    font-size: 14px;

    .logo{
        color: $main-color;
        font-size: 25px;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 7px;
        // color: #0D96D8;
        // font-size: 23px;
        // letter-spacing: 3px;
        // font-weight: 600;
    }

    a{
        color: $dark;
    }

    #nav-logo{
        display: flex;
        align-items: center;
        i{
            margin-right: 12px;
            font-size: 19px;
        }
    }
    .left{
        display: flex;
        align-items: center; // Centers vertically
        justify-content: flex-start;
        margin-left: 10px;
    }

    // Center links
    .center{
        display: flex;
        justify-content: center;
        align-items: center; // Centers vertically
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 16px;

        a{
            height: $navbar-height;
            line-height: $navbar-height;
            text-align: center;
            padding: 0px 20px 0px 20px;
        }

        .selected{
            background: $light-secondary;
        }
    }

    .right{
        display: flex;
        align-items: center; // Centers vertically
        justify-content: flex-end;
        
        .header-name{
            margin-right: 20px;
        }
        
        .header-name{
            display: flex;
            align-items: center;
            i{
                margin-right: 5px;
            }
        }

        *{
            margin-right: 10px;
        }
    }

    @media (max-width: 760px) {
        z-index: 999;
        position: absolute;
        top: 0px;
        width: 100%;
        background: $light;
    }

}

.mobile-menu{
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .right, .center {
        margin: 0px;
        flex-direction: column;
        width: 100%;
        & > * {
            width: 100%;
            // height: 50px;
            line-height: 50px;
            padding: 10px;
        }
    }

    .right {
        & > * {
            justify-content: center;
            margin: 0px !important;
        }
    }

    .left {
        padding: 15px;
    }

    .hidden {
        display: none;
    }

    .menu-button{
        position: absolute;
        right: 0px;
        padding: 15px;
    }
}