#root{
    height: 100vh;
}

.route-builder-container{
    position: fixed;
    top: $navbar-height;
    bottom: 0;
    right: 0;
    left: 0;

    .messages {
        position: absolute;
        top: 11px;
        width: 100%;
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            li{
                z-index: 100;
                padding: 15px 20px 15px 20px ;
                background: $main-color;
                color: $light;
                border-radius: 100px;
            }
        }
    }
}

.map-container{
    height: 100%;
}

.controls-container{
    width: 100%;
    z-index: 100;
    position: absolute;
    bottom:0;
    display: flex;
    justify-content: center;

    .controls{
        display: flex;
    }
    
    .btn{
        background: $light-secondary;
        border-radius: 0px;
    }
}